*, *::after, *::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Space Mono', monospace;
}

.pomodoro{
    z-index: 99;
    position: fixed;
    top: 1rem;
    right: 1rem;
    width: 220px;
}

.timer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.timer-controlls{
    display: flex;
    justify-content: space-between;
    padding: .5rem 1.5rem;
}

h3.clock{
    font-size: 2.5em;
}

.window{
    background: #fff;
    border: 3px solid #E075B9;
    border-radius: 10px;
    color: #FC6095;
}

.window-header, .window-footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 1.125rem;
    background: #CDC5FF;
    height: 2rem;
    color: #fff;
    font-size: .8rem;
    text-transform: uppercase;
}

.window-header button{
    width: 24px;
    height: 24px;
    padding: 2px;
    border-radius: 2px;
    border: 2px solid #E075B9;
    margin-left: 3px;
}

.pomodoro-btn{
    color: #FC6095;
    border-radius: 50%;
    border: 2px solid #FC6095;
}

.pomodoro-btn.play{
    width: 3rem;
    height: 3rem;
}



.pomodoro-btn.session, .pomodoro-btn.break, .pomodoro-btn.reset, .pomodoro-btn.config{
    height: 2rem;
    width: 2rem;
}

.pomodoro-controlls{
    text-align: center;
}

.pomodoro-settings{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: .5rem;
    padding: .5rem;
}

.pomodoro-btn.reset, .pomodoro-btn.config, .pomodoro-btn.play{
    display: flex;
    justify-content: center;
    align-items: center;
}