*, *::after, *::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Space Mono', monospace;
}

.pomodoro{
    z-index: 99;
    position: fixed;
    top: 1rem;
    right: 1rem;
    width: 220px;
}

.timer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.timer-controlls{
    display: flex;
    justify-content: space-between;
    padding: .5rem 1.5rem;
}

h3.clock{
    font-size: 2.5em;
}



.pomodoro-btn{
    color: #FC6095;
    border-radius: 50%;
    border: 2px solid #FC6095;
}

.pomodoro-btn.play{
    width: 3rem;
    height: 3rem;
}

.pomodoro-btn.reset{
    width: 2rem;
    height: 2rem;
}

.pomodoro-controlls{
    text-align: center;
}

.time-ctrl{
    display: flex;
    flex-flow: row;
    align-items: center;
}

.time-ctrl button{
    width: 1.5rem;
    height: 1.5rem;
}

.time-ctrl p{
    font-size: 1.5rem;
    margin: 0 4px;
}

.pomodoro-btn.reset, .pomodoro-btn.play{
    display: flex;
    justify-content: center;
    align-items: center;
}

.timer-btns{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    gap: 1rem;
    margin: .5rem 0 .5rem calc(50% - 4rem);
}