:root{
  --color-primary: #FC6095;
}

*{
  overflow: hidden;
}

.App {
  text-align: center;
  height: 100vh;
  width: 100vw;
}

.video-container{
  width: 100vw;
  height: 100vh;
  z-index: -99;
}
    
iframe {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100vw;
  height: 100vh;
  transform: translate(-50%, -50%);
}

@media (min-aspect-ratio: 16/9) {
  .video-container iframe {
    /* height = 100 * (9 / 16) = 56.25 */
    height: 56.25vw;
  }
}
    
@media (max-aspect-ratio: 16/9) {
  .video-container iframe {
    /* width = 100 / (9 / 16) = 177.777777 */
    width: 177.78vh!important;
    height: 120%!important;
  }
}

#overlay{
  position: fixed;
    z-index: 10;
    height: 100vh;
    width: 100vw;
}


h1{
  color: #fff;
}

button{
  cursor: pointer;
}

.window{
  background: #fff;
  border: 3px solid #E075B9;
  border-radius: 10px;
  color: #FC6095;
  cursor: grab;
}
.window.minimized .window-body{
  display: none;
}

.window-body{
  display: block;
}

.window-header, .window-footer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.125rem;
  background: #CDC5FF;
  height: 2rem;
  color: #fff;
  font-size: .8rem;
}

.window-header{
  text-transform: uppercase;
}

.window-footer{
  text-transform: lowercase;
}

.window-header button{
  width: 24px;
  height: 24px;
  padding: 2px;
  border-radius: 2px;
  border: 2px solid #E075B9;
  margin-left: 3px;
}

.player-controlls{
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 98;
}
